*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #056674;
    font-size: 62.5%;
    overflow: hidden;
}

nav {
    display: flex;
    position: sticky;
    top: 0;
    width: 100vw;
    height: 10vh;
    background: linear-gradient(90deg, rgba(102, 191, 191, 1) 0%, rgba(102, 191, 167, 1) 50%);
    box-shadow: 0px 3px 10px #000;
    align-items: center;
    border-radius: 0px 0px 8px 8px;
    z-index:9999;
}

nav h1 {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: auto;

}
#inline{
    display:flex;
    text-decoration: none;
}
nav h1,
nav a {
    color: white;
    font-size: 2rem;
    font-family: 'Rock Salt', cursive;
    text-shadow: 1px 5px 10px #C4C4C4;
}

nav span {
    color: #FF4B5C;

}

 nav a {
    padding-right: 2.5rem;
    text-decoration: none;
    font-family: 'Ropa Sans', sans-serif;
    text-shadow: 1px 10px 10px #C4C4C4;
}

nav svg {
    height: 9.8vh;

    padding: 0 1rem;
}

canvas {
    position: absolute;
    width: 100%;
    height: 90vh;
    background-color: transparent;
}

#dark {
    position: absolute;
    width: 100%;
    height: 90vh;
    background-color: #7777773d;
}

main {
    background: linear-gradient(90deg, rgba(5, 102, 116, 1) 0%, rgba(5, 116, 115, 1) 100%);
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

main section {
    z-index: 2;
}



#left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 5%;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#left div {
    font-family: 'Ropa Sans', sans-serif;
    color: white;
    font-size: 3rem;
    width: 50%;
}

#descriptiveText {
    background: transparent;
    color: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translate(-100%, -60%);
    animation: colorWheel 1.25s ease-in forwards;
    animation-iteration-count: 1;
}

@keyframes colorWheel {


    50% {
        background: #e2e2e2;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3rem;
    }

    60% {
        text-shadow: 0 0 0 transparent;

    }

    65% {
        text-shadow: 1px -20px 2px #e4e4e4;
    }

    85% {
        text-shadow: none;
    }

    100% {

        background: #ffffff;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3rem;
    }


}




#Handle {
    animation: handle 4s linear infinite alternate;
    transform-origin: left;
}

@keyframes handle {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-10deg);
    }
}

#line_tl,
#line_tr,
#line_bl,
#line_br {
    animation: stroked 2s linear infinite alternate;
}

@keyframes stroked {

    0%,
    100% {
        stroke-width: 1.5;
    }

    50% {
        stroke-width: 3.5;
    }

}

#Ellipse_7 {
    animation: record 4s linear infinite;
    transform-origin: center;
}

@keyframes record {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#right1 {
    position: absolute;
    bottom: 0%;
    right: 0;
    height: 70vw;
    z-index: 2;
    transform: translateY(2%);
}

#face {
    animation: vibe 2s ease-in-out infinite;
    transform-origin: left;
}

@keyframes vibe {
    0% {
        transform: translateY(0) rotate(0);
    }

    50% {
        transform: translateY(10%) rotate(-10deg);
        
    }
}

#hair {
    animation: hawaein 2s ease-in-out infinite;
    transform-origin: left;
    transform-box: fill-box;
}

@keyframes hawaein {
    0% {
        transform: rotate(0) translateY(0);
    }

    50% {
        transform: rotate(20deg) translateY(2%);

    }
}

#Vector {
    animation: sway 2s ease-in-out infinite;
    transform-origin: right;
    transform-box: fill-box;
    ;
}

@keyframes sway {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(15deg);
    }
}

#Vector_12 {
    animation: attention 2s linear infinite alternate;
    fill: #cccccc;
}

@keyframes attention {
    0% {
        filter: hue-rotate(0deg);
        stroke: transparent;
    }
    15%{fill:#dddddd;}
    30%{fill:#eeeeee;}
    
    50% {
        stroke: #000000;
        fill:#ffffff;
    }
    70%{fill:#eeeeee;}
    85%{fill:#dddddd;}
    100% {
        
        stroke: transparent;
    }
}